# Import the necessary libraries

In [2]:
import sys
import os
import matplotlib.pyplot as plt
import seaborn as sns
import logging
import pandas as pd

# Configure logging
logging.basicConfig(filename='../logs/',
                    level=logging.INFO,
                    format='%(asctime)s:%(levelname)s:%(message)s')
  

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))
from load_csv_data import Load_CSV_Data

# Load the data sets

In [7]:
# GDP data

df_gdp = Load_CSV_Data('../data/gdp/gdp_data.csv')
df_gdp.load_csv_data()
df_gdp = df_gdp.get_data()

# Inflation data

df_inflation = Load_CSV_Data('../data/inflation/inflation_data.csv')
df_inflation.load_csv_data()
df_inflation = df_inflation.get_data()

# Exchange rate data

df_exrate = Load_CSV_Data('../data/exchange_rate/exchange_rate_data.csv')
df_exrate.load_csv_data()
df_exrate = df_exrate.get_data()

Data successfully loaded from ../data/gdp/gdp_data.csv
Data successfully loaded from ../data/inflation/inflation_data.csv
Data successfully loaded from ../data/exchange_rate/exchange_rate_data.csv

In [9]:
df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000
1,Africa Eastern and Southern,AFE,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1.719656e+01,1.719656e+01,1.719656e+01,3.510964e+01,3.869226e+01,3.869226e+01,...,57.247500,61.143462,67.866086,68.026904,72.083247,77.737949,76.813536,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,2.870000e-08,2.870000e-08,2.870000e-08,2.880000e-08,2.880000e-08,2.880000e-08,...,98.302417,120.060702,163.656434,165.915951,252.855748,364.825805,578.258780,631.441955,460.567512,685.020238

In [10]:
df_inflation.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.121696e+10,2.230747e+10,2.370247e+10,2.577938e+10,2.804954e+10,3.037491e+10,...,9.796900e+11,8.992960e+11,8.298300e+11,9.401050e+11,1.012720e+12,1.006530e+12,9.290740e+11,1.086770e+12,1.183960e+12,1.236160e+12
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,1.450216e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.188413e+10,1.268566e+10,1.360683e+10,1.443998e+10,1.576911e+10,1.693448e+10,...,8.945850e+11,7.693670e+11,6.921810e+11,6.857500e+11,7.681900e+11,8.239340e+11,7.871470e+11,8.459930e+11,8.771410e+11,7.965860e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359670e+11,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.044000e+11,8.472296e+10

In [11]:
df_exrate.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.958897,6.831287,-1.002800,-3.178167,3.477547,6.094207,-0.871325,-4.990168,3.412842,NaN
1,Africa Eastern and Southern,AFE,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,1.933947,0.596607,3.150053,3.726978,2.962826,...,5.403535,5.545296,7.002823,5.217431,4.321757,4.444379,5.089641,5.535521,8.562985,8.770823
2,Afghanistan,AFG,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.566945,2.447563,-2.197526,2.403656,2.071349,6.521480,6.962946,2.838996,9.406239,NaN
3,Africa Western and Central,AFW,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,3.278446,2.485956,2.781479,3.381061,2.405026,...,0.731853,1.911559,1.736323,1.759106,2.150339,1.739014,1.715558,4.642203,8.094694,3.386691
4,Angola,AGO,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.560885,-3.518385,21.774313,22.614437,28.167093,19.187004,10.763105,38.823722,13.709848,17.647757

# Data cleaning

In [12]:
import pandas as pd

# Filter for the year range 1987-2022
year_range = [str(year) for year in range(1987, 2023)]

# GDP data cleaning
df_gdp = df_gdp[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + year_range]
df_gdp_long = df_gdp.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                          var_name='Year', value_name='GDP')
df_gdp_long = df_gdp_long[(df_gdp_long['Year'].astype(int) >= 1987) & (df_gdp_long['Year'].astype(int) <= 2022)].dropna()
df_gdp_long.rename(columns={'Country Name': 'Country', 'Country Code': 'CountryCode', 'Indicator Name': 'GDP_Indicator'}, inplace=True)

# Inflation data cleaning
df_inflation = df_inflation[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + year_range]
df_inflation_long = df_inflation.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                                      var_name='Year', value_name='Inflation')
df_inflation_long = df_inflation_long[(df_inflation_long['Year'].astype(int) >= 1987) & (df_inflation_long['Year'].astype(int) <= 2022)].dropna()
df_inflation_long.rename(columns={'Country Name': 'Country', 'Country Code': 'CountryCode', 'Indicator Name': 'Inflation_Indicator'}, inplace=True)

# Exchange rate data cleaning
df_exrate = df_exrate[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + year_range]
df_exrate_long = df_exrate.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                                var_name='Year', value_name='Exchange_Rate')
df_exrate_long = df_exrate_long[(df_exrate_long['Year'].astype(int) >= 1987) & (df_exrate_long['Year'].astype(int) <= 2022)].dropna()
df_exrate_long.rename(columns={'Country Name': 'Country', 'Country Code': 'CountryCode', 'Indicator Name': 'ExchangeRate_Indicator'}, inplace=True)

# Preview the cleaned data
print("GDP Data Sample:\n", df_gdp_long.head())
print("Inflation Data Sample:\n", df_inflation_long.head())
print("Exchange Rate Data Sample:\n", df_exrate_long.head())

# Save the cleaned datasets for merging
df_gdp_long.to_csv('../data/gdp/cleaned_gdp_data.csv', index=False)
df_inflation_long.to_csv('../data/inflation/cleaned_inflation_data.csv', index=False)
df_exrate_long.to_csv('../data/exchange_rate/cleaned_exchange_rate_data.csv', index=False)

GDP Data Sample:
                 Country CountryCode  \
0                 Aruba         ABW
2           Afghanistan         AFG
4                Angola         AGO
8  United Arab Emirates         ARE
9             Argentina         ARG

                                       GDP_Indicator Indicator Code  Year  \
0  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF  1987
2  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF  1987
4  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF  1987
8  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF  1987
9  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF  1987

            GDP
0  1.790000e+00
2  3.927643e+01
4  2.990000e-08
8  3.671000e+00
9  2.144300e-04
Inflation Data Sample:
                        Country CountryCode Inflation_Indicator  \
0                        Aruba         ABW   GDP (current US$)
1  Africa Eastern and Southern         AFE   GDP (current US$)
3   Africa Western and Central         AFW   GDP (current US$)
5                      Albania         ALB   GDP (current US$)
6                      Andorra         AND   GDP (current US$)

   Indicator Code  Year     Inflation
0  NY.GDP.MKTP.CD  1987  4.877095e+08
1  NY.GDP.MKTP.CD  1987  1.858120e+11
3  NY.GDP.MKTP.CD  1987  1.122950e+11
5  NY.GDP.MKTP.CD  1987  2.080796e+09
6  NY.GDP.MKTP.CD  1987  6.112999e+08
Exchange Rate Data Sample:
                        Country CountryCode  \
0                        Aruba         ABW
1  Africa Eastern and Southern         AFE
3   Africa Western and Central         AFW
4                       Angola         AGO
5                      Albania         ALB

               ExchangeRate_Indicator     Indicator Code  Year  Exchange_Rate
0  Inflation, GDP deflator (annual %)  NY.GDP.DEFL.KD.ZG  1987       3.591970
1  Inflation, GDP deflator (annual %)  NY.GDP.DEFL.KD.ZG  1987      12.694070
3  Inflation, GDP deflator (annual %)  NY.GDP.DEFL.KD.ZG  1987       2.356512
4  Inflation, GDP deflator (annual %)  NY.GDP.DEFL.KD.ZG  1987       9.823311
5  Inflation, GDP deflator (annual %)  NY.GDP.DEFL.KD.ZG  1987      -0.000306